{% if weather != None %}
<h1>Todays weather is: {{ weather.main }}</h1>
<h2>{{ weather.description }}</h2>
{% if unit == "imperial" %}
  {% set deg ="F" %}
{% else %}
  {% set deg ="C" %}
{% endif %}
{% if state == None %}
  {% set state =""%}
{% endif %}

<p> With a current temprature of {{ temp.temp }} &degF (max: {{ temp.temp_max }} &deg{{ deg }} / min: {{ temp.temp_min }} &deg{{ deg }}) and a humidity of {{ temp.humidity }}%</p>
<p> In {{city}}, {{state}} {{country}}</p>
{% endif %}

  {% if error != None %}
      <h1>{{ error }}</h1>
      {% endif %}

<form action="{{ url_for('get_weather') }}" method="POST">
    <input type='text' name="city" placeholder="City (required)" />
    <input type='text' name="state" placeholder="State (optional)" />
    <input type='text' name="country" placeholder="Country (required)" />
    <select name='unit-type'>
      <option selected value="imperial">imperial</option>
      <option value='metric'>metric</option>
    </select>
    <input type="submit" value="Get Weather">

</form>
